@use "../color";
@use "../common";

.contact-section {
  padding-block: 6em;

  .top-header {
    text-align: center;
    margin-bottom: 5em;

    h1 {
      font-weight: 600;
      color: var(--text-color-second);
      margin-bottom: 10px;
    }

    span {
      color: #999;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;

    .item {
      border: solid 1px #ccc;
      border-radius: 30px;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: inherit;
      color: inherit;
    }
    h4 {
      margin: 0;
      font-size: 1.5rem;
    }

    strong {
      font-weight: normal;
      color: var(--text-color-second);
    }

    i {
      display: none;
    }
  }
}
