@use "../color";
@use "../common";

.contact-section {
  padding-block: 6em;

  .top-header {
    text-align: center;
    margin-bottom: 5em;

    h1 {
      font-weight: 600;
      color: var(--text-color-second);
      margin-bottom: 10px;
    }

    span {
      color: #999;
    }
  }

  .grid {
    display: grid;
    /* 自動填滿，最小 300px，自動換行 */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;

    div.grid > div a {
      text-decoration: inherit;
      color: inherit;
    }

    .item {
      border: solid 1px #ccc;
      border-radius: 30px;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .item:hover {
      cursor: pointer;
      border: solid 2px var(--first-color-hover); /* 邊框變色加粗 */
    }

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: inherit;
      color: inherit;
    }

    h4 {
      margin: 0;
      font-size: 1.5rem;
    }

    .item:hover h4 {
      color: var(--first-color-hover);
    }

    strong {
      font-weight: normal;
      color: var(--text-color-second);
    }

    div.item:hover strong {
      color: var(--first-color-hover);
    }

    i {
      display: none;
      /* 預設隱藏圖示 */
    }

    .item:hover i {
      display: block; /* 懸停時顯示圖示 */
      margin-top: 10px;
      color: var(--first-color-hover);
    }
  }
}
