@use "../color";
@use "../common";

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  background: #f8f8f8;
  padding-block: 40px 60px;

  .main-footer {
    .footer-menu {
      display: flex; /* 橫向排列 */

      .footer_menu_list {
        list-style: none;
      }
      a {
        text-decoration: none;
        color: var(--text-color-second);
        font-weight: 500;
        margin-inline: 20px;
      }
    }
  }

  .footer-social-icons {
    display: flex;
    gap: 30px;

    .footer-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%; /* 圓形 */
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
      cursor: pointer;
    }

    .footer-icon:hover {
      color: var(--first-color); /* 懸停變色 */
    }
  }
}
