@use "../color";
@use "../common";

nav {
  position: fixed; /* 固定在視窗頂端 */
  display: flex; /* 彈性佈局 */
  justify-content: space-between; /* 內容兩端對齊 */
  width: 100%;
  height: 90px;
  line-height: 90px;
  background: var(--body-color);
  padding-inline: 9vw; /* 左右內距 */
  transition: 0.3s;
  z-index: 100; /* 層級最高，確保不被遮擋 */

  h3 {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: var(--text-color-third);
  }

  .nav-menu {
    display: flex;

    position: var(--nav-menu-position);
    top: var(--nav-menu-top);
    left: var(--nav-menu-left);
    flex-direction: var(--nav-menu-flex-direction);
    justify-content: var(--nav-menu-justify-content);
    align-items: var(--nav-menu-align-items);
    background: var(--nav-menu-background);
    backdrop-filter: var(--nav-menu-backdrop-filter);
    width: var(--nav-menu-width);
    min-height: var(--nav-menu-min-height);
    height: var(--nav-menu-height);
    transition: var(--nav-menu-transition);

    .menu-item {
      text-decoration: none; /* 去除底線 */
      color: var(--text-color-second);
      font-weight: 500;
      padding-inline: 15px;
      margin-inline: 20px;
    }
  }
}

/* 活動連結樣式 (.active-link) */
.active-link {
  position: relative;
  color: var(--first-color); /* 紫色 */
  transition: 0.3;
}
/* 活動連結下方的紫色小圓點 */
.active-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  background: var(--first-color);
  border-radius: 50%;
}
.meau-button {
  display: var(--meau-button-display);
}
