.wrapper {
  padding-inline: 10vw; /* 左右留白 */

  /* ----- 首頁特色區塊 (Featured Box) ----- */
  .featured-box {
    position: relative;
    display: flex; /* 左右並排 */
    height: 100vh; /* 佔滿視窗高度 */
    min-height: 700px;

    /* 左側文字區 */
    .featured-text {
      position: relative;
      display: flex;
      justify-content: center;
      align-content: center;
      min-height: 80vh;
      flex-direction: column; /* 垂直排列 */
      width: 50%; /* 佔一半寬度 */
      padding-left: 20px;
    }
    .featured-text-card {
      > span {
        background: var(--third-color); /* 名字背景色 */
        color: var(--color-white);
        padding: 3px 8px;
        font-size: 12px;
        border-radius: 5px;
      }
    }

    .featured-name {
      font-size: 50px;
      font-weight: 600;
      color: var(--text-color-second);
      margin-block: 20px;
    }

    .featured-text-info {
      font-size: 15px;
      margin-bottom: 30px;
      color: var(--text-color-second);
    }

    .featured-text-btn {
      display: flex;
      gap: 20px; /* 按鈕間距 */

      .HireMe-btn {
        background: var(--first-color); /* 藍紫色按鈕 */
        color: var(--color-white);
      }

      .HireMe-btn:hover {
        background: var(--first-color-hover);
      }
    }

    /* 社群圖示 */
    .social_icons {
      display: flex;
      margin-top: 5em;
      gap: 30px;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }
      .icon:hover {
        color: var(--first-color); /* 懸停變色 */
      }
    }

    /* 右側圖片區 */
  }
  .featured-image {
    display: flex;
    justify-content: right;
    align-content: center;
    min-height: 80vh;
    width: 50%;

    .image {
      margin: auto 0;
      width: 380px;
      height: 380px;
      border-radius: 55% 45% 55% 45%; /* 不規則圓形裁切 */
      overflow: hidden; /* 隱藏超出邊界的部分 */
    }
    .image img {
      width: 380px;
      object-fit: cover; /* 保持圖片比例填滿 */
    }
  }
}
