@use "../color";
@use "../common";
@use "./header";
@use "./home";
@use "./about";
@use "./skills";
@use "./contact";
@use "./footer";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* ----- 基礎重置 (Base Reset) ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 確保 padding/border 包含在寬度內 */
  font-family: "Poppins", sans-serif; /* 全站字體 */
}

/* ----- 平滑滾動 ----- */
html {
  scroll-behavior: smooth; /* 點擊錨點連結時會平滑滑動 */
}

/* ----- 全域 Icon 樣式 ----- */
i {
  font-size: 16px;
}

/* ------- 網頁本體 -------- */
body {
  position: relative;
  background: var(--body-color);
}

.container {
  width: 100%;
  position: relative;
}

a {
  text-decoration: inherit;
  color: inherit;
}

/* ----- 全域按鈕樣式 (.commonbtn) ----- */
.commonbtn {
  font-weight: 500;
  padding: 12px 20px;
  background: #efefef;
  border: none;
  border-radius: 10px;
  cursor: pointer; /* 滑鼠變手型 */
  transition: 0.4s; /* 動畫過渡時間 */
  i {
    margin-left: 10px; /* 圖示與文字間距 */
  }

  .commonbtn:hover {
    background: var(--second-color); /* 懸停時背景變藍 */
    color: var(--color-white); /* 懸停時文字變白 */
  }
}

/* ----- 自定義滾動條樣式 (Webkit 瀏覽器) ----- */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 25px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; /* 軌道背景色 */
}
::-webkit-scrollbar-thumb {
  background: #ccc; /* 滾動條顏色 */
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bbb; /* 滾動條懸停顏色 */
}
