@use "./common";
@use "./color";

header {
  position: fixed; /* 固定在視窗頂端 */
  display: flex; /* 彈性佈局 */
  justify-content: space-between; /* 內容兩端對齊 */
  width: 100%;
  height: 90px;
  line-height: 90px;
  background: var(--body-color);
  padding-inline: 9vw; /* 左右內距 */
  transition: 0.3s;
  z-index: 100; /* 層級最高，確保不被遮擋 */

  h3 {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: var(--text-color-third);
  }

  .menu-list {
    display: flex;

    .menu-item {
      text-decoration: none; /* 去除底線 */
      color: var(--text-color-second);
      font-weight: 500;
      padding-inline: 15px;
      margin-inline: 20px;
    }
  }
}
