@use "./common";
@use "./color";

header {
  position: sticky;

  h3 {
    margin: 0;
    @include common.fontStyle(1.875rem, 600, 1.75rem);
    color: var(--text-color-third);
  }

  div.container > div {
    gap: 2rem;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
  }

  nav {
    text-decoration: none;
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;

    .active {
      position: relative;
      color: var(--primary-color);

      &::after {
        content: "";
        width: 5px;
        height: 5px;
        background-color: var(--primary-color);
        border-radius: 50%;
        position: absolute;
        left: calc(50% - 2.5px);
        bottom: -8px;
      }
    }
  }
}
