@use "./header";
@use "./main";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: var(--body-color);
}

.container {
  width: 100%;
  position: relative;
}

html {
  scroll-behavior: smooth;
}
