@use "./header";
@use "./main";
@use "./common";
@use "./color";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--body-color);
}

.container {
  width: 100%;
  position: relative;
}

a {
  text-decoration: inherit;
  color: inherit;
}
